img{
    width:100%;
    max-width:500px;
}
.film{
    display: flex;
    align-items: center;
    left: 50%;
    margin-left:200px;
    margin-right:200px;
    margin-top: 50px;

}
.film:hover{
    cursor:pointer;
    transform:scale(1.05);
    background-color: rgba(0, 0, 0, 0.2);
}